[init]
	defaultBranch = main

[alias]
	s = status
	a = !git add . && git status
	c = commit
	cm = commit -m
	ac = !git add . && git commit
	acm = !git add . && git commit -m
	l = log --graph --all
	ll = log --stat --abbrev-commit
	lg = log --color --graph --abrev-commit
	d = diff

[core]
	autocrlf = false
	editor = vim

[commit]
	verbose = true

[help]
	autocorrect = 10

[user]
	email = gregfreitas1997@gmail.com
	name = Greg Freitas

[diff]
	context = 10
	algorithm = histogram

[log]
	date = iso

[rebase]
	updateRefs = true
